:root {
  /* rgba(225, 79, 91, 1); */
  --color-primary: rgba(144, 76, 197, 1);
  --color-secondary: rgba(226, 81, 93, 1);
  --accent-1: rgba(245, 194, 87, 1);
  --accent-2: rgba(165, 84, 229, 1);
  --accent-3i: rgba(147, 220, 220, 1);
  --accent-4: rgba(255, 212, 196, 1);
  --accent-5: rgba(225, 79, 91, 1);

  --font-color-primary: rgba(86, 67, 105, 1);
  --font-color-light: rgba(249, 247, 239, 1);
  --font-color-red: #c33744;

  --background-color: rgba(249, 247, 239, 1);
  --background-color-secondary: rgba(245, 194, 87, 0.1);
}

html {
  box-sizing: border-box;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #f9f7ef;
  font-family: var(--font-lora);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main h1 {
  font-family: var(--font-signika-negative);
  font-size: 3.8rem;
}
p {
  font-family: var(--font-lora);
  font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}
p.ingress {
  font-family: var(--font-montserrat);
}
