.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  flex-grow: 1;
  /* min-height: 100vh; */
  align-items: flex-start;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: 3px solid grey; */
  justify-content: center;
  justify-content: space-between;
  max-width: 1380px;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  max-width: 560px;
  /* border: 1px solid blue; */
  flex-grow: 1;
  margin-left: 114px;
  margin-top: 88px;
  margin-right: 32px;
}

.aside {
  display: flex;
  flex-direction: column;
  min-width: 528px;
  max-width: 628px;
  flex: 0 0 42%;
  /* border: 1px solid purple; */
  flex-grow: 1;
  align-items: flex-end;
}

.aside img {
  width: 100%;
  height: auto;
  object-fit: fill;
  object-fit: cover;
  object-position: right top;
}

.main p {
  font-size: 2rem;
  line-height: 150%;
  color: var(--font-color-primary);
}

.main h1 {
  /* font-family: var(--font-signika-negative); */
  font-size: 8.6rem;
  line-height: 128%;
  color: var(--accent-1);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px;
  margin-bottom: 22px;
}
.main h2 {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;
}
p.ingress {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 32px;
}
.topMenu a {
  font-family: var(--font-montserrat);
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
  line-height: auto;
  margin-bottom: 1.6rem;
  color: var(--color-primary);
}

.logoIcon {
  position: relative;
  top: -4px;
  left: -4px;
  margin-bottom: 36px;
}

.topMenu {
  margin-bottom: 40px;
}

.button {
  font-family: var(--font-montserrat);
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  background-color: var(--accent-5);
  color: var(--font-color-light);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  -webkit-font-smoothing: antialiased;
  border: none;
  border-radius: 8px;
}
